mixin slider
    ._slider
        h2 WE CHOCKING YOU
        div(id="carousel" class="carousel slide")
            ol(class="carousel-indicators")
                li(class="active" data-target="#carousel" data-slide-to="0")
                li(data-target="#carousel" data-slide-to="1")
                li(data-target="#carousel" data-slide-to="2")
                li(data-target="#carousel" data-slide-to="3")
                li(data-target="#carousel" data-slide-to="4")
                li(data-target="#carousel" data-slide-to="5")
                li(data-target="#carousel" data-slide-to="6")
                li(data-target="#carousel" data-slide-to="7")
                li(data-target="#carousel" data-slide-to="8")
                li(data-target="#carousel" data-slide-to="9")
                li(data-target="#carousel" data-slide-to="10")
            div(class="carousel-inner _op")
                div(class="item active")
                    img(src="../img/slider/materik01.jpg" alt="1" class="_center")
                    div(class="carousel-caption")
                        h3 Materik/slide 1
                div(class="item ")    
                    img(src="../img/slider/materik02.jpg" alt="2" class="_center")
                    div(class="carousel-caption")
                        h3 Materik/slide 2
                div(class="item ")       
                    img(src="../img/slider/materik03.jpg" alt="3" class="_center")
                    div(class="carousel-caption")
                        h3 Materik/slide 3
                div(class="item ")       
                    img(src="../img/slider/materik04.jpg" alt="4" class="_center")
                    div(class="carousel-caption")
                        h3 Materik/slide 4
                div(class="item ")       
                    img(src="../img/slider/materik05.jpg" alt="5" class="_center")
                    div(class="carousel-caption")
                        h3 Materik/slide 5
                div(class="item ")       
                    img(src="../img/slider/materik06.jpg" alt="6" class="_center")
                    div(class="carousel-caption")
                        h3 Materik/slide 6
                div(class="item ")       
                    img(src="../img/slider/materik07.jpg" alt="7" class="_center")
                    div(class="carousel-caption")
                        h3 Materik/slide 7
                div(class="item ")       
                    img(src="../img/slider/materik08.jpg" alt="8" class="_center")
                    div(class="carousel-caption")
                        h3 Materik/slide 8
                div(class="item ")       
                    img(src="../img/slider/materik09.jpg" alt="9" class="_center")
                    div(class="carousel-caption")
                        h3 Materik/slide 9
                div(class="item ")       
                    img(src="../img/slider/materik10.jpg" alt="10" class="_center")
                    div(class="carousel-caption")
                        h3 Materik/slide 10
            a(href="#carousel" class="left carousel-control" data-slide="prev")
            a(href="#carousel" class="right carousel-control" data-slide="next") 
