mixin about
    article(class="_about")
        ._track
            audio(controls)
                source(src="../media/rock.ogg" type="audio/ogg; codecs=vorbis")
                source(src="../media/rock.wav" type="audio/mpeg")
                source(src="../media/rock.mp3" type="audio/mpeg")
        h2 Наш рок-бенд Материк
        div(class="container")   
            .row
                div(class="col-lg-4 col-md-4")
                    ._about-img-blok
                        img(src="../img/materik/materik02.jpg" alt="materic-2")
                        p Ігор Рябоконь
                            br
                            |( Гітара, вокал )
                    ._about-img-blok
                        img(src="../img/materik/materik08.jpg" alt="materic-1")
                        p Ярослав Копецький
                            br
                            |( Гітара )
                    ._about-img-blok
                        img(src="../img/materik/materik11.jpg" alt="materic-3")
                        p Радецький Павло
                            br
                            |( Барабани )
                    ._about-img-blok
                        img(src="../img/materik/materik01.jpg" alt="materic-3")
                        p Кульчицький Назар
                            br
                            |( Бас-гітара )

                div(class="col-lg-8 col-md-8")
                    ._about-content-block
                        h3 ТО Є ROCK
                        p Презентуємо вам першу пісню із дебютного альбому групи "Материк" під назвою " То є рок!". "У ній розкривається тема відношення до себе і до навколишнього світу людини, яку полонив РОК, суть душі рок-музиканта, якій притаманний дух свободи. Ця пісня про нас, про те як ми живемо, у що віримо.Ми – жителі невеличкого міста на Вінниччині з мальовничою назвою Калинівка. 
                        br
                        p Склад групи у нас досить дивний, з огляду на вік її учасників.Одному з гітарістів і його дружині, яка є автором текстів – вже далеко за 40,а трьом іншим – лише по 20! Але не зважаючи на те, що ми люди з різних поколінь,нас об'єднує любов до рок-музики, рокерський дух! Крізь його призму ми дивимось на світ, а томув нас не виникає суперечок, ми просто беремось за інструменти і кайфуємо! На даний час готується до виходу наш перший альбом і плануємо зняти перший кліп, затримка за барабанщиком, який зараз у лавах ЗСУ на навчаннях. Скоро він повернеться служити до рідного міста,ми доробимо заплановану роботу і запропонуємо її до уваги слухачів.
                        br
                        p У альбомі розкриваються теми нашого відношення до проблем сьогодення та пошуку людини себе у цьому світі.Наш знайомий барабанщик нещодавно сказав, що граючи багато років у одній групі, він ніколи не вслухався у тексти,просто кайфував від музики, а тут – прослухав " То є рок!" 10 разів і ... мурашки по шкірі – усе в точку!Такі слова дорогого коштують, отже працюємо не дарма! Маємо надію, що наша творчість теж не залишить вас байдужими. Приємного прослуховування!
                
