mixin footer
    footer
        ._footer
            h2 МАТЕРИК
        ._develop
            p Розробка веб-сайтів, інтернет-магазинів, сайтів-візитівок, лендингів, корпоративних сайтів та інше...
                br
                |+38 095 724 62 56
